<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="style.css" />
  <title>iMessage</title>
</head>

<body>
  <div id="search">
    <div>
      <p></p>
      <input type="text" placeholder="Search" id="contact-input">
      <button><img src="https://cdn0.iconfinder.com/data/icons/set-app-incredibles/24/Edit-01-512.png" alt=""
          style="max-width: 10px;"></button>
    </div>
  </div>
  <div id="contact">
    <p style="color: rgb(154,154,154);">To: </p>
    <p style="color: white;">[contact]</p>
    <!-- <p>Details</p> -->
  </div>
  <div id="conversations">
    <!-- for contact in recent messages show profile picture, recent message, and time of last message -->
  </div>
  <div id="active-con">
    <!-- for message in messages-of-open-conversation, display message -->
  </div>
</body>
<script src="script.js"></script>

</html>